<div class="jumbotron">
       <div class="pms">

        <center> <img src="/images/about.png" alt="about us" style="width:1200px;height:400px";> </center>

       </div>
     </div>

     <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Ankle Sprains</h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
          <img src="/images/arth.jpg"  alt="Arthritis">
        </div>
      </div>

      <hr class="featurette-divider">
