<div class="jumbotron">
       <div class="pms">

        <center> <img src="/images/about.png" alt="about us" style="width:1200px;height:400px";> </center>

       </div>
     </div>

     <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <center><h2 class="featurette-heading">Associates of Maple Podiatry</h2></center>
          <p class="info">Associates of Maple Podiatry is a podiatrist office in Merchantville, NJ, providing foot and ankle care with a specialization in diabetic foot care. Dr. John Wallace is a board-certified podiatrist physician and designs medical implants. With 34 years of experience and a friendly, professional staff, we know how to help you.</p>
        </div>
        <div class="col-md-5">
          <img src="/images/IMG1.jpg"  alt="Diploma" style="width:300px;height:300px"; >
        </div>
      </div>

      <hr class="featurette-divider">

<center><h2 class="featurette-heading">Directions: Maple Podiatry</h2></center>
<center><a href="https://www.google.com/maps/place/702+W+Maple+Ave,+Merchantville,+NJ+08109/@39.948652,-75.0658314,17z/data=!4m5!3m4!1s0x89c6c98056040951:0xb42003ed32f73279!8m2!3d39.948654!4d-75.063643" style="text-align:center">Google Maps</a></center>
