<div class="jumbotron">
       <div class="pms">

        <center> <img src="/images/about.png" alt="about us" style="width:1200px;height:400px";> </center>

       </div>
     </div>

     <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Associates of Maple Podiatry</h2>
          <p class="lead">Associates of Maple Podiatry is a podiatrist office in Merchantville, NJ, providing foot and ankle care with a specialization in diabetic foot care. Dr. John Wallace is a board-certified podiatrist physician and designs medical implants. With a lot of experience and a friendly, professional staff, we know how to help you.</p>
        </div>
        <div class="col-md-5">
          <img src="/images/arth.jpg"  alt="Arthritis">
        </div>
      </div>

      <hr class="featurette-divider">
