<h1> Contact Us <h1>
  <div class="jumbotron">
         <div class="pms">

          <center> <img src="/images/Contact.png" alt="mail" style="width:1400px;height:500px";> </center>

         </div>
       </div>
  <form action="/submit" method="post">
      <div>
        <label for="name">Name:</label> <input type="text" id="name" name="user_name">
      </div>
      <div>
        <label for="mail">E-mail:</label> <input type="email" id="mail" name="mail">
      </div>
      <div>
        <label for="msg">Message:</label> <textarea id="msg" name="user_message"></textarea>
      </div>
      <div class="button">
        <button type="submit">Send your message</button>
      </div>
    </form>
