<div class="jumbotron">
       <div class="pms">

        <center> <img src="/images/Dia.png" alt="Diabtic Wound" style="width:1200px;height:350px";> </center>

       </div>
     </div>

     <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <center><h2 class="featurette-heading">What are Diabetic Wounds?</h2><center>
          <p class="info">A diabetic foot ulcer is an open sore or wound that occurs in approximately 15 percent of patients with diabetes and is commonly located on the bottom of the foot. Of those who develop a foot ulcer, 6 percent will be hospitalized due to infection or other ulcer-related complication.

Diabetes is the leading cause of non-traumatic lower extremity amputations in the United States, and approximately 14-24 percent of patients with diabetes who develop a foot ulcer will require an amputation. Foot ulceration precedes 85 percent of diabetes-related amputations. Research has shown, however, that development of a foot ulcer is preventable.</p>
        </div>
        <div class="mov2">
          <img src="/images/ulcer.jpg" alt="ulcer" style="width:320px;height:400px">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 order-md-2">
          <center><h2 class="featurette-heading">Diagnosis</h2></center>
          <p class="info">The use of diagnostic tools such as cultures, radiographs, or other more advanced imaging techniques can be useful in the diagnosis and treatment progression of diabetic foot ulcers. When clinical infection is suspected, cultures taken from the wound area could be useful in determining appropriate antibiotic therapy.</p>
        </div>
    <div class="mov2">
          <img src="/images/DUlcer.jpg"  alt="Ulcer" style="width:350px;height:400px" >
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <center><h2 class="featurette-heading">Treatment</h2></center>
          <p class="info">There are several key factors in the appropriate treatment of a diabetic foot ulcer.

Prevention of infection
Taking the pressure off the area, called “off-loading”
Removing dead skin and tissue, called “debridement”
Applying medication or dressings to the ulcer
Managing blood glucose and other health problems
Not all ulcers are infected; however, if your podiatrist diagnoses an infection, a treatment program of antibiotics, wound care, and possibly hospitalization will be necessary.

To keep an ulcer from becoming infected, it is important to:

keep blood glucose levels under tight control;
keep the ulcer clean and bandaged;
cleanse the wound daily, using a wound dressing or bandage; and
avoid walking barefoot.
For optimum healing, ulcers, especially those on the bottom of the foot, must be “off-loaded.”  You may be asked to wear special footgear, or a brace, specialized castings, or use a wheelchair or crutches.  These devices will reduce the pressure and irritation to the area with the ulcer and help to speed the healing process.</p>
        </div>
        <div class="mov2">
          <img src="/images/u2.jpg"  alt="ulcer" style="width:350px;height:400px">
        </div>
      </div>

      <hr class="featurette-divider">
