<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/stylesheets/index.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
<div id="wrap">
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class='navbar-brand' href='/'>Maple Podiatry</a>
  <a class='navbar-text' href='pms'>Podiatric Medical Services</a>
  <a class='navbar-text' href='DW'>Diabetic Wound Care</a>
  <a class='navbar-text' href='SM'>Sports Medicine</a>
  <a class='navbar-text' href='resources'>Resources</a>
  <a class='navbar-text' href='AboutUs'>About Us</a>
  <a class='navbar-text' href='contact'>Contact</a>
</nav>
    <%= yield %>
    <script src="/js/index.js"></script>
  </body>
  <br>
  <br>
<footer>
  <br>
  <br>

      <footer class="sticky-footer-navbar">
        <div class="container">
          <span class="text-muted">Maple Podiatry</span>
          <a href="https://www.facebook.com/Associates-Of-Maple-Podiatry-1034169116658039/"><i class="fa fa-facebook-official" style="font-size:48px;color:blue"></i></a>
        </div>
      </footer>
</div>
</html>
