<div class="jumbotron">
  <div class="pms">

    <center>
      <img src="/images/Exam.png" alt="Exam" style="width:1200px;height:350px" ;>
    </center>

  </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-7">
    <center><h2 class="featurette-heading">Arthritis Treament</h2></center>
    <p class="info">Arthritis is a general term for a group of more than 100 diseases. The word "arthritis" means "joint inflammation." Arthritis involves inflammation and swelling in and around the body's joints and surrounding soft tissue. The
      inflammation can cause pain and stiffness. In many kinds of arthritis, progressive joint deterioration occurs and the smooth "cushioning" cartilage in joints is gradually lost. As a result, the bones rub and wear against each other. Soft tissues in
      the joints also may begin to wear down. Arthritis can be painful and eventually result in limited motion, loss of joint function, and deformities in the joints affected.
      <br>
      <br>
     <p class="info"> Foot and ankle osteoarthritis can be treated in many ways. Nonsurgical methods to treat foot and ankle arthritis include: Steroid medications injected into the joints, Anti-inflammatory drugs to reduce swelling in the joints, Pain relievers, Pads or
      arch supports, Canes or braces to support the joints, Inserts that support the ankle and foot (orthotics), Physical therapy, Custom shoes, Weight control.</p>
    </p>
  </div>
  <div class="mov2">
    <img src="/images/arth.jpg" alt="Arthritis" style="width:350px;height:400px";>
  </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-7 order-md-4">
    <center><h2 class="featurette-heading">Physical Therapy</h2></center>
    <p class="info">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
  </div>
  <div class="mov">
    <img src="/images/PT.jpg" alt="PT" style="width:350px;height:400px";>
  </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-7">
    <center><h2 class="featurette-heading">Foot Deformities</h2></center>
    <p class="info">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
  </div>
  <div class="mov2">
    <img src="/images/foot.jpg" alt="Bunion" style="width:350px;height:400px";>
  </div>
</div>

<hr class="featurette-divider">
