<div class="jumbotron">
       <div class="pms">

        <center> <img src="/images/exam.png" alt="Exam" style="width:1400px;height:500px";> </center>

       </div>
     </div>

     <hr class="featurette-divider">

             <div class="rw">
               <div class="col-md-7">
                 <h2 class="featurette-heading">Arthritis Treatment.</h2>
                 <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
               </div>
               <div class="col-sm-2">
                 <img src="/images/arth.jpg" style="width:250px;height:170px"; alt="Arthritis">
               </div>
             </div>

             <div class="rw">
               <div class="col-md-7">
                 <h2 class="featurette-heading">Arthritis Treatment.</h2>
                 <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
               </div>
               <div class="col-sm-2">
                 <img src="/images/arth.jpg" style="width:250px;height:170px"; alt="Arthritis">
               </div>
             </div>

             <div class="rw">
               <div class="col-md-7">
                 <h2 class="featurette-heading">Arthritis Treatment.</h2>
                 <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
               </div>
               <div class="col-sm-2">
                 <img src="/images/arth.jpg" style="width:250px;height:170px"; alt="Arthritis">
               </div>
             </div>
