<div class="jumbotron">
       <div class="pms">

        <center> <img src="/images/Resources.png" alt="book" style="width:1200px;height:400px";> </center>

       </div>
     </div>

     <div class="container marketing">

             <!-- content circles -->
             <div class="row">
               <div class="col-lg-4">
                 <center> <img class="rounded-circle" src=/images/form.jpg alt="Office" width="170" height="170"> </center>
                 <center>  <h2>Patient Form</h2>  </center>
                   <center><a href= "../images/New Patient Form.docx" download>New Patient Form</a></center>

               </div>
               <div class="col-lg-4">
                 <center> <img class="rounded-circle" src=/images/books.jpg alt="Diabetic ulcer" width="170" height="170"> </center>
                   <center> <h2>Education</h2> </center>
                <center> <a href="http://www.diabetes.org/" style="text-align:center">American Diabetes Association</a></center>
                  <center><a href="https://www.apma.org/">APMA</a></center>
                </div>

               <div class="col-lg-4">
                 <center> <img class="rounded-circle" src="/images/PF.jpg" alt="Therapy" width="170" height="170"> </center>
                 <center> <h2>Other</h2> </center>
               <center><a href="https://orthoinfo.org/globalassets/pdfs/2017-rehab_foot-and-ankle.pdf">Foot and Ankle Therapy</a></center>

               </div>
             </div>
