<div class="jumbotron">
  <div class="pms">

    <center>
      <img src="/images/Sports Med.png" alt="Sports" style="width:1200px;height:350px" ;=";">
    </center>

  </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-lg-6">
    <center>
      <h2 class="featurette-heading">Ankle Sprains</h2>
    </center>
    <p class="info">An ankle sprain occurs when the strong ligaments that support the ankle stretch beyond their limits and tear. Ankle sprains are common injuries that occur among people of all ages. They range from mild to severe, depending upon how
      much damage there is to the ligaments. Most sprains are minor injuries that heal with home treatments like rest and applying ice. However, if your ankle is very swollen and painful to walk on — or if you are having trouble putting weight on your
      ankle at all, be sure to see your doctor. Without proper treatment and rehabilitation, a more severe sprain can weaken your ankle—making it more likely that you will injure it again. Repeated ankle sprains can lead to long-term problems, including
      chronic ankle pain, arthritis, and ongoing instability.</p>
  </div>
  <br>
  <div class="col-lg-5">
    <img src="/images/IMG4.jpg" alt="Arthritis" style="width:500px;height:500px" ;=";">
  </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-7 order-md-4">
    <center>
      <h2 class="featurette-heading">Fractures</h2>
    </center>
    <p class="info">A stress fracture is a small crack in a bone, or severe bruising within a bone. Most stress fractures are caused by overuse and repetitive activity, and are common in runners and athletes who participate in running sports, such as
      soccer and basketball. Stress fractures usually occur when people change their activities — such as by trying a new exercise, suddenly increasing the intensity of their workouts, or changing the workout surface (jogging on a treadmill vs. jogging
      outdoors). In addition, if osteoporosis or other disease has weakened the bones, just doing everyday activities may result in a stress fracture. The weight-bearing bones of the foot and lower leg are especially vulnerable to stress fractures because
      of the repetitive forces they must absorb during activities like walking, running, and jumping. Refraining from high impact activities for an adequate period of time is key to recovering from a stress fracture in the foot or ankle. Returning to
      activity too quickly can not only delay the healing process but also increase the risk for a complete fracture. Should a complete fracture occur, it will take far longer to recover and return to activities.</p>

  </div>
  <div class="mov">
    <img src="/images/Fractures.jpg" alt="Fractures" style="width:350px;height:400px" ;=";">
  </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-7">
    <center>
      <h2 class="featurette-heading">Turf Toe</h2>
    </center>
    <p class="info">The simplest definition of turf toe is that it is a sprain of the main joint of the big toe. It happens when the toe is forcibly bent up into hyperextension, such as when pushing off into a sprint and having the toe get stuck flat on
      the ground. Sprains of the big toe joint became especially prevalent in American football players after artificial turf became more common on playing fields - hence the term "turf toe." Artificial turf is a harder surface than grass and does not have
      much "give" when forces are placed on it. Although often associated with football, turf toe occurs in a wide range of sports and activities.</p>
  </div>
  <div class="mov2">
    <img src="/images/tt.jpeg" alt="Turf Toe" style="width:350px;height:400px" ;=";">
  </div>
</div>

<hr class="featurette-divider">
